<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Folders</title>
	<link type="text/css" href="/stylesheets/style.css" rel="stylesheet" />
	<script>
        function imgError(image) {
            image.onerror = "";
            image.src = "/images/folder.png";
            return true;
        }
	</script>
</head>
<body>
<div class="header">
		<span id="back_wrapper">
			<a href="/" target="_self">
				<img src="/images/back.png" alt="Back" title="Back">
			</a>
		</span>
		<span id="title_wrapper">
			Choose a folder
		</span>
		<div id="profile">
			<a href='/profile' >
				<%= user.username %>
				<img src="/images/user.png" alt="" style="vertical-align:middle">
			</a>
		</div>
</div>

<div class="main">
	<div id="search_add">
        <%if(user.isAdmin){ %>
		<form action="/folders/add/" method="get">
			<button id="add" type="submit">
			</button>
		</form>
        <%}%>
		<form action="/folders/search" method="GET">
			<input type="text" name="name" id="search" placeholder="Search">
		</form>
	</div>

	<div class="flex">
		<% if(items.length === 0){%>
			There are no folders
		<%}else{%>
			<%for(let f of items){ %>
			<div class="item">
				<a href="/folders/f<%=f.id%>" target="_self">
					<img src="/res/images/<%=f.img%>" alt="<%=f.name%>" onerror="imgError(this)"> <%=f.name%>
				</a>
			</div>
			<%}%>
        <%}%>
	</div>

	<div class="pagination">
        <% if(pageCount >= 1) { %>
		<a <%= currentPage != 1 ? `href=/folders?page=${1}` : "class=active" %>>&laquo;</a>
        <% for(var i = Math.max(1, Number(currentPage - range));  i <= Number(currentPage) + Number(range) & i <= pageCount ;i++){ %>
		<a <%= currentPage != i ? `href=/folders?page=${i}` : "class=active" %>><%= i %></a>
        <% } %>
		<a <%= currentPage != pageCount ? `href=/folders?page=${pageCount}` : "class=active" %>>&raquo;</a>
        <% } else{ %>
		<a class="active">1</a>
        <% } %>
	</div>
</div>
</body>
</html>
