<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search</title>
	<link type="text/css" href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>

<div class="header">
	<a href="/" target="_self">
		<img src="/images/back.png" alt="Back" title="Back">
	</a>
	<div>Search</div>
</div>
<div class="main">

	<div class="pagination">
        <% if(pageCount >= 1) { %>
		<a <%= currentPage != 1 ? `href=/folders/search?page=${1}${subURL}` : "class=active" %>>&laquo;</a>
        <% for(var i = Math.max(1, Number(currentPage - range));  i <= Number(currentPage) + Number(range) & i <= pageCount ;i++){ %>
		<a <%= currentPage != i ? `href=/folders/search?page=${i}${subURL}` : "class=active" %>><%= i %></a>
        <% } %>
		<a <%= currentPage != pageCount ? `href=/folders/search?page=${pageCount}${subURL}` : "class=active" %>>&raquo;</a>
        <% } else{ %>
		<a class="active">1</a>
        <% } %>
	</div>

	<div class="flex">
        <%for(let f of items){ %>
		<div class="item">
			<a href="/folders/f<%=f.id%>" target="_self">
				<img src="/images/<%=f.img%>" alt="<%=f.name%>" onerror="imgError(this)"> <%=f.name%>
			</a>
		</div>
        <%}%>
	</div>

</div>

<script src="js/scripts.js"></script>

</body>
</html>