<%
function buildTree(root) {
    if(!root.isFile){
//        add tree and collapse
        %>
                <li>
                    <span  class="Collapsable">
                            <%=root.isFile?'file':'folder'%>:
                        <a href="/folders/<%=root.isFile?"a":"f"%><%=root.id%>">
                           <%=root.name%>
                        </a>
                    </span>
                    <ul>
                        <%
                            root.items.forEach((item) => {
                            buildTree(item);
                            });
                        %>
                    </ul>
                </li>

        <%
    }else{
//        add only name of item
        %>
<li>
    <%=root.isFile?'file':'folder'%>:
            <a href="/folders/<%=root.isFile?"a":"f"%><%=root.id%>">
                <%=root.name%>
            </a>
</li>
        <%

    }
}
%>
    <%buildTree(dirTree)%>