<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= folder.name %></title>
	<link type="text/css" href="/stylesheets/style.css" rel="stylesheet">
	<script>
        function imgError(image) {
            image.onerror = "";
            image.src = "/images/folder.png";
            return true;
        }
	</script>
</head>
<body>
<div id="folder_wrapper">

	<div id="title_info">

		<div class="title">
			<span id="back_wrapper">
				<a href="/folders" target="_self">
					<img src="/images/back.png" alt="Back" title="Back">
				</a>
			</span>
			<span id="title_wrapper">
				<%= folder.name %>
			</span>
		</div>

		<div class="info">

			<div id="search_add">
				<form action="./f<%=folder.id%>/add" method="get">
					<button id="add" type="submit">
					</button>
				</form>
			</div>


			<img src="/res/images/<%=folder.img%>" alt="Folder" onerror="imgError(this)">
			<table>
				<tr>
					<td>Name</td>
					<td><b><%= folder.name %></b></td>
				</tr>
				<tr>
					<td>Type</td>
					<td><b><%= folder.contentType %></b></td>
				</tr>
				<tr>
					<td>Size</td>
					<td><b><%= folder.size %></b></td>
				</tr>
				<tr>
					<td>Location</td>
					<td><b><%= folder.location %></b></td>
				</tr>
				<tr>
					<td>Owner</td>
					<td><b><%= folder.owner %></b></td>
				</tr>
				<tr>
					<td>Modified</td>
					<td><b><%= folder.info.modified %></b></td>
				</tr>
				<tr>
					<td>Created</td>
					<td><b><%= folder.info.created %></b></td>
				</tr>
			</table>
			<p><%= folder.description %></p>

			<div>
				<br>
				<h2>children</h2>

                <%for(let f of folder.children){%>
				<h5><%=f%></h5>
                <%}%>

			</div>

		</div>


	</div>

</div>
</body>
</html>


