<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Folders</title>
	<link type="text/css" href="/stylesheets/style.css" rel="stylesheet" />
	<script>
        function imgError(image) {
            image.onerror = "";
            image.src = "/images/folder.png";
            return true;
        }
	</script>
</head>
<body>
<div class="header">
		<span id="back_wrapper">
			<a href="/" target="_self">
				<img src="/images/back.png" alt="Back" title="Back">
			</a>
		</span>
		<span id="title_wrapper">
			Choose a folder
		</span>
</div>

<div class="main">
	<!--<div id="add">-->
		<!--<form action="/folders/f0/addFolder/" method="get">-->
			<!--<button id="addFolder" type="submit">-->
			<!--</button>-->
		<!--</form>-->
		<!--<form action="/folders/f0/addFile/" method="get">-->
			<!--<button id="addFile" type="submit">-->
			<!--</button>-->
		<!--</form>-->
	<!--</div>-->


	<div id="add">
		<form action="/folders/addFolder/" method="get">
			<button id="addFolder" type="submit">
			</button>
		</form>
		<form action="/folders/addFile/" method="get">
			<button id="addFile" type="submit">
			</button>
		</form>
	</div>

	<div class="flex">
		<% if((folders.length + files.length) === 0){%>
			There are no folders
		<%}else{%>
			<%for(let f of folders){ %>
			<div class="item">
				<%if(f.parent == null){%>
				<a href="/folders/f<%=f.id%>" target="_self">
					<img src="/res/images/<%=f.img%>" alt="<%=f.name%>" onerror="imgError(this)"> <%=f.name%>
				</a>
				<%}%>
			</div>
			<%}%>
			<%for(let f of files){ %>
			<div class="item">
				<%if(f.id == "5a0886ffb6ed6b2a55c0d8d2"){%>
				<a href="/folders/f<%=f.id%>" target="_self">
					<img src="/res/images/<%=f.img%>" alt="<%=f.name%>" onerror="imgError(this)"> <%=f.name%>
				</a>
				<%}%>
			</div>
			<%}%>
		<%}%>
	</div>

</div>
</body>
</html>