<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Shared</title>
	<link type="text/css" href="/stylesheets/style.css" rel="stylesheet">
	<script>
        function imgError(image) {
            image.onerror = "";
            image.src = "/images/folder.png";
            return true;
        }
	</script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
</head>

<body>

<div id="folder_wrapper">


	<div class="catalog">
		<div id="tab">
			<div id="myFolderTab">
				<a href="/folders/f<%=user.folder%>" target="_self">
					My Folders
				</a>
			</div>
			<div id="sharedTab">
				<a href="/folders/sharedWithMe" target="_self">
					Shared with me
				</a>
			</div>
		</div>
	</div>


	<div id="title_info">
		<div class="title">
			<span id="back_wrapper">

				<a href="/folders" target="_self">
					<img src="/images/back.png" alt="Back" title="Back">
				</a>
			</span>
			<span id="title_wrapper">
               	Shared
			</span>
			<div id="profile">
				<a href='/profile' >
                    <%= user.name %>
					<img src="/images/user.png" alt="" style="vertical-align:middle">
				</a>
			</div>
		</div>
		<div class="info">
			<div id="add">
				<form action="/folders/search" method="GET">
					<input type="text" name="name" id="search" placeholder="Search">
				</form>
			</div>


			<div class="flex">
                <% if(files.length === 0){%>

				There are no folders

                <%}else{%>

                <%for(let f of files){%>
				<div class="item">
                    <%if(f._id){%>
					<a href="/folders/a<%=f.id%>" target="_self">
						<img src="/images/filePNG.png" alt="<%=f.name%>" onerror="imgError(this)"> <%=f.name%>
					</a>
                    <%}%>
				</div>
                <%}%>
                <%}%>


			</div>

		</div>
	</div>
</div>
</body>
</html>
