
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%user.name%></title>
	<link type="text/css" href="/stylesheets/style.css" rel="stylesheet" />
</head>
<body>

<div class="header">
		<span id="back_wrapper">
			<a href="/users" target="_self">
				<img src="/images/back.png" alt="Back" title="Back">
			</a>
		</span>
	<span id="title_wrapper">
			 <%=user.name%>
		</span>
	<div id="profile">
		<a href='/profile' >
            <%= user.name %>
			<img src="/images/user.png" alt="" style="vertical-align:middle">
		</a>
		<a href='/help' id="profileItem">
			Help
		</a>
	</div>
</div>

<div class="main">
    <%if((String)(user._id) !== (String)(admin._id)){%>
	<div id="add">
		<div id="add">
			<form action="/users/u<%= user._id %>/removeUser/" method="get">
				<button id="remove" type="submit">
				</button>
			</form>
		</div>
	</div>
	<%}%>
	<div id="profileWrapper">
		<div id="profileImg">
		<img src="/images/user.png" alt="User" onerror="imgError(this)">
		</div>
		<table id="profileTable">
			<tr>
				<td>Id</td>
				<td><b><%= user._id %></b></td>
			</tr>
			<tr>
				<td>Name</td>
				<td><b><%= user.name %></b></td>
			</tr>
			<tr>
				<td>Login</td>
				<td><b><%= user.login %></b></td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>
